#-------------------------------------------
asgiref==3.4.1
backports.entry-points-selectable==1.1.1
chartkick==0.5.0
distlib==0.3.4
Django==4.0
filelock==3.4.0
gunicorn==20.1.0
platformdirs==2.4.0
psycopg2-binary==2.9.2
six==1.16.0
sqlparse==0.4.2
virtualenv==20.10.0



#django_taggit
#Markdown
#Pillow
#social-auth-app-django
#sorl-thumbnail
#redis
#celery
#rabbitmq
#flower
#WeasyPrint
#django-rosetta
#django_parler
#django-localflavor
#django-braces
#django-embed-video
#python-memcached
#django-memcache-status
#djangorestframework


# Dev
#asgiref
#django-crum
#django-tempus-dominus
#itsdangerous
#Jinja2
#pytz
#sqlparse
#Unidecode
#virtualenv

# GeoIP2
#geoip2
#Prometheus 
#django-prometheus
#django-sentry
#sentry-sdk
#django-ckeditor
#django-health-check
#django-crispy-forms
#python-dotenv
